<!DOCTYPE html>
<html lang="en">
<!-- header -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="../static/style/game.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
  <script type="text/javascript" src="../static/script/search.js"> defer</script>
  <title>home</title>
</head>
<!-- Body -->
<body>
  <header>

    <nav>
      <div><a href="https://game-finder-one.vercel.app/"><img src="../static/images/gamepad.png"></a> FIND YOUR GAME</div>
      <div class="search_icon"> <img class="icon" src="../static/icons/search_icon.png">
        <div class="search_bar">
          <input id="game-input" type="text">
          <button>search</button>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% if "error" in game %}
    <h1>
      <center>{{ game["error"] }}</center>
    </h1>
    {% else %}
    <section class="header">
      <article>
        <h1>{{ game["title"] }}</h1>
        <img src='{{ game["thumbnail"] }}'>
      </article>
      <article>
        <p>genre: {{ ghttps://www.alxafrica.com/ame["genre"] }}</p>
        <p>device: {{ game["platform"] }} </p>
        <p>game publisher: {{ game["publisher"]}} </p>
        <p>game developer: {{ game["developer"]}} </p>
        <p>release: {{ game["release_date"] }}</p>
        <center><a href='{{ game["game_url"] }}'><button>GET IT</button></a></center>
      </article>
    </section>
    <section>
      <h4>Game story</h4>
      <p>
        {{ game["short_description"] }}
      </p>
    </section>
    {% endif %}
  </main>
</body>

</html>
